.search-field{
    position: relative;
    margin-left: 350px;
    width: 100%; 
    
} 
 /* .navsc{
    background: red;
} */
/* .hi{
    background-image: linear-gradient(to right, rgba(43, 9, 211, 0.253),blue);
}  */